# Peer-graded Assignment

This is a peer graded assignment. I will be answering all exercise activities in an orderly basis.

**Data Science Languages**


1.   Python
2.   R-Programming
3.   SQL

**Data Science Librabries**


1.   Pandas
2.   Numpy
3.   Matplotlib
4.   Seaborn
5.   Scipy
6.   Sklearn
7.   Tensorflow
8.   Keras
9.   Pytorch

**Data science tools**


1.   Google Colab
2.   R-studio
3.   Visual Studio Code
4.   Jupyter Notebooks
5.   Jupyterlab

**Arithmetic expression examples**

Basic Addition:

Expression: 3 + 5
Explanation: Adds the numbers 3 and 5 together.
Result: 8

Subtraction:

Expression: 10 - 4
Explanation: Subtracts 4 from 10.
Result: 6

Multiplication:

Expression: 7 * 6
Explanation: Multiplies 7 by 6.
Result: 42

Division:

Expression: 20 / 4
Explanation: Divides 20 by 4.
Result: 5

Combined Operations:

Expression: (8 + 2) * 5
Explanation: Adds 8 and 2, then multiplies the result by 5.
Result: 50

Exponentiation:

Expression: 2 ^ 3
Explanation: Raises 2 to the power of 3.
Result: 8

Modulus Operation:

Expression: 17 % 3
Explanation: Finds the remainder when 17 is divided by 3.
Result: 2

In [10]:
#code cell to multiply and add numbers
def multiplication (X, y):
  result = X * y
  return print (f"{X} * {y} = {result}")


  #example
multiplication (3,5)

def addition (X, y):
  addition_result = X + y
  return print (f' {X} + {y} = {addition_result}')

#example
addition (10,4)

3 * 5 = 15
 10 + 4 = 14

In [13]:
#onvert minutes to hours

def minutes_to_hours (minutes):
  hours = minutes / 60
  return print (f'{minutes} minutes is equal to {hours} hours')

#example
minutes_to_hours (60)

60 minutes is equal to 1.0 hours

**List of Objectives**
1. Understand Data Science Fundamentals
2. Develop Proficiency in Programming
3. Master Data Visualization Techniques
4. Apply Machine Learning Algorithms
5. Utilize Data Wrangling and Cleaning Skills
6. Work with Databases and Data Storage
7. Understand Big Data Technologies
8. Implement Data Science Projects
9. Develop Critical Thinking and Problem-Solving Skills
10. Stay Updated with Industry Trends

Author: MIKE NJERU MURANGO